/* the products did not want to line up the way i wanted no matter what i tried needless to say i was frustrated */

*{
    box-sizing: border-box;
}

/* body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23e3c9;
} */

.shop-container{
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}

.shop-container h1{
   text-align: center;
   font-size: 30px;
   color: #222;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 1px;
}

.product-list{
    width: 200px;
    margin: auto;
    border: 3px solid #333;
    background-color: #dfdfdf;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgb(0,0,0,25%);
    width: 325px;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    background-color: #fff;
}

.product h2{
    text-align: center;
    font-size: 20px;
}

.p-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-image img{
    width: 100%;
    height: auto;
}

.p-info{
    text-align: center;
    margin-top: 20px;
}

.p-info p{
    font-size: 15px;
    color: #222;
    letter-spacing: 1.5px;
    margin-top: 10px;
}

